:root {
    --white: #FFFFFF;
    --light-gray: #EEEEEE;
    --gray: #999999;
    --dark-gray: #666666;
    --black: #333333;
    --green: #93C47D;
    --red: #E06666;
    --purple: #8e7cc3;
    --light-blue: #C9DAF8;
    --orange: #FAA250;

    --font-size: 16px;

    --text-color: var(--black);
    --border-color: var(--dark-gray);
    --background-color: var(--white);
    --nav-background-color: var(--orange);
    --table-border-color: var(--light-blue);

    --flash-text-color: var(--white);
    --success-background-color: var(--green);
    --error-background-color: var(--red);
    --alert-background-color: var(--purple);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --border-color: var(--white);
        --background-color: var(--black);
        --nav-background-color: var(--orange);
    }
}
